# Compiled Object files
*.slo
*.lo
*.o
*.class
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# mac os files
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.idx
*.orig
build/
debug/
local.properties
.classpath
.settings/
.loadpath


# PDT-specific
.buildpath

index/
gtpmindex/
dist/
fwdindex/
index_nofilter/
output*
output/
input/
SCC_LOGS/
